*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Stint Ultra Condensed', cursive;
    background: linear-gradient(to right,#7CB9E8, #007FFF, #7CB9E8);
}

.app-overlay{
    display: grid;
    place-items: center;
    padding-top: 50px;
}

.quiz-overlay{
    display: grid;
    place-items: center;

    width: 600px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    box-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.2);
}

.inline{
    display: flex;
    gap: 20px;
}

.question-number{
    font-size: 60px;
}

.question-text{
    font-size: 35px;
}

.answer{
    font-size: 30px;
    padding: 5px;
    padding-left: 15px;
    border: 2px solid #007FFF;
    border-radius: 20px;
    width: 250px;
    font-weight: 700;
    cursor: pointer;
}

span{
    font-weight: normal;
}

.score{
    text-align: center;
}

.score-info{
    font-size: 50px;
    padding-bottom: 20px;
}

.button-play-again{
    background: linear-gradient(to right,#7CB9E8, #007FFF);
    border: none;
    font-size: 18px;
    font-family: sans-serif;
    padding: 15px;
    color: rgb(255, 255, 255);
    font-weight: 800;
    border-radius: 10px;
    cursor: pointer;
}